In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree

In [2]:
df=pd.read_csv("C:\\Users\\90533\\Desktop\\winequalityN.csv",encoding =('ISO-8859-1'),low_memory =False)

In [3]:
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
df[["volatile acidity","fixed acidity"]]

      volatile acidity  fixed acidity
0                0.270            7.0
1                0.300            6.3
2                0.280            8.1
3                0.230            7.2
4                0.230            7.2
...                ...            ...
6492             0.600            6.2
6493             0.550            5.9
6494             0.510            6.3
6495             0.645            5.9
6496             0.310            6.0

[6497 rows x 2 columns]

In [5]:
df = df.drop(columns=['citric acid', 'residual sugar',"chlorides","free sulfur dioxide","total sulfur dioxide",
                     "density","pH","sulphates","alcohol","quality"])

In [6]:
data=df[["fixed acidity","volatile acidity","type"]][:100]

In [8]:
df=df.dropna()
data=data.dropna()

In [9]:
x=data.drop(columns=["type"])
y=data["type"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8)

model=DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions=model.predict(x_test)

score=accuracy_score(y_test,predictions)
score

1.0

In [10]:
x=df.drop(columns=["type"])
y=df["type"]

model=DecisionTreeClassifier()
model.fit(x,y)

tree.export_graphviz(model,out_file="wine-quality.dot",feature_names=["fixed acidity","volatile acidity"],class_names=sorted(y.unique()),
                    label="all",
                    rounded=True,
                    filled=True)